// Override the Bootstrap defaults without modifying key, versioned files.

$font-stack:    Helvetica, sans-serif;
$font-logo:    "M PLUS Rounded 1c", sans-serif;
$fq-darkgrey: #333;
$fq-lightgrey: #f1f4fa;

$fq-blue: #277aaf;
$fq-yellow: #d0bb57;
body{
    background-color: $fq-lightgrey;
}
.fqcards {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: $fq-lightgrey;
    .wrap {
        display: flex;
        background: white;
        padding: 1rem 1rem 1rem 1rem;
        border-radius: 0.5rem;
        box-shadow: 7px 7px 30px -5px rgba(0,0,0,0.1);
        margin-bottom: 2rem;
    }

    .wrap:hover {
        background: linear-gradient(135deg,#6394ff 0%,#0a193b 100%);
        color: white;
        .mbr-iconfont {
            color: #f1f4fa;
        }
        .display-5 {
            color: #fff;

        }

    }
    .ico-wrap {
        margin: auto;
    }
    .mbr-iconfont {
        font-size: 3.5rem !important;
        color: $fq-blue;
        margin: 1rem;
        padding-right: 1rem;
        @media only screen and (min-width: 640px) {
            font-size: 4.5rem !important;
        }
    }
    .mbr-section-title3 {
        text-align: left;
    }
    h2 {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .display-5 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 1.4rem;
        color: $fq-yellow;

    }

    .mbr-bold {
        font-weight: 700;
    }

    p {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
        line-height: 25px;
    }
    .display-6 {
        font-family: 'Source Sans Pro',sans-serif;
        font-size: 1re
    }
}
.vcenter {
    margin: auto;
}
.description {
    color: $fq-darkgrey;
    font-size: 1.6em;
    margin: auto;
    text-align: center;
    padding: 10px 30px;
    @media only screen and (min-width: 640px) {
        padding: 10px 80px;
    }

}
.header-logo {
    font-size: 3.6em;
    font-family: $font-logo;
    font-weight: 900;
    text-shadow: 3px 3px 0px #fff, 5px 5px 0px #eee;
    text-decoration: none !important;
    width: 100%;
    text-align: center;
    @media only screen and (min-width: 640px) {
        font-size: 4.6em;
    }

}
.first-logo {
    color: $fq-blue;
}
.second-logo {
    color: $fq-yellow;
}
